<div class="row">
  <div class="col-sm-10">
    <h2>Leading Topic Requests</h2>
  </div>
  <div class="col-sm-2 text-right">
    <% if can? :create, TopicRequest %>
      <%= link_to new_topic_request_path, class: 'btn btn-primary js-new-topic-request' do %>
        <span class="fa fa-plus fa-lg"></span>
      <% end %>
    <% end %>
  </div>
</div>

<% @topic_requests.each do |topic_request| %>
  <div class="row">
    <div class="col-sm-12">
      <%= render partial: 'topic_requests/sidebar', locals: { topic_request: topic_request } %>

      <% if topic_request == @topic_requests.last %>
        <div class="card topic-request-block-container" onclick="location.href = '<%= topic_requests_path %>'">
          <div class="card-block topic-request-block topic-request-block-final">
            View More Topic Requests
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
