<div class="row">
  <div class="col-sm-12">
    Title
  </div>
  <div class="col-sm-12">
    <%= @topic_request.title %>
  </div>
  <div class="col-sm-12">
    Description
  </div>
  <div class="col-sm-12">
    <%= @topic_request.description %>
  </div>
</div>