<% size ||= :large %>
<div class="card article-card">
  <div class="row no-gutters">
    <div class="col-auto">
      <%= image_tag article.image.url(size), style: "border-radius: 3px 0px 0px 3px" %>
    </div>
    <div class="col right-side">
      <div class="no-gutters card-header" style="padding: 6px 12px;">
        <h4 class="col" style="margin: 0;"> OUTSIDE TEXT </h4>
      </div>
      <div class="card-body no-gutters">
        <div style="padding-left: 12px; padding-top: 12px;">
          <%= raw article.description %>
        </div>
      </div>
    </div>
  </div>
</div>
