<div class="col-sm-12">
  <h2>Leading Topic Requests</h2>
</div>

<div class="col-sm-12">
  <div class="card">
    <div class="card-block">
      <div style="float: left">
        <h6>Debugger title</h6>
      </div>
      <div style="float: right">
        <button href="#" class="btn btn-default">
          <i class="fa fa-thumbs-down"></i>
        </button>
      </div>
      <div style="float: right">
        <button href="#" class="btn btn-default">
          <i class="fa fa-thumbs-up"></i>
        </button>
      </div>
    </div>
  </div>
</div>
