<div class="row">
  <div class="col-sm-12">
    <h2>Publisher Platform</h2>
  </div>
  <div class="col-sm-12" style="min-height: 200px">
    <div>
      Publisher is a Space City Innovators platform to host original content.
    </div>
    <br/>
    <div>
      It is versatile enough to host several different individual websites that will receive updates
      simultaneously.
    </div>
  </div>
</div>
<hr/>
