<div class="col-sm-12">
  <h2>Introducing Reciprocate.Life</h2>
</div>

<div class="col-sm-12">
  <p>
    Reciprocate.Life is a close knit online community designed around the transfer of knowledge between extended family and friends about shared life experiences.
  </p>

  <p>
    Together we will bring relief, understanding, knowledge, and excitement to those who choose to join the Reciprocate.Life community.
  </p>

  <p>
    To read more about our community, please read more <a href="#">here</a>.
  </p>
</div>
