<div class="row">
  <div class="col-sm-8">
    <h5 class="social-text">Share on Social Now!</h5>
  </div>
  <div class="col-sm-4">
    <div class="share-link-container float-right">
      <a href="http://twitter.com/home?status=<%= object.share_text %>" title="Share on Twitter" target="_blank" class="btn btn-twitter share-link btn-info"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= object.share_text %>" title="Share on Facebook" target="_blank" class="btn btn-facebook share-link btn-primary"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</div>
