<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <h1>
          <u>Browse Articles</u>
        </h1>
      </div>
      <div class="col-sm-4 text-right">
        <% if can? :create, Article %>
          <%= link_to new_article_path, class: 'btn btn-primary js-new-article' do %>
            <span class="fa fa-plus fa-lg"></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% @articles.each do |article| %>
      <div class="row">
        <div class="col-sm-12">
          <%= render partial: 'articles/article', locals: { article: article } %>
        </div>
      </div>

      <%= render partial: 'articles/divider' unless article == @articles.last%>
    <% end %>

    <div class="row justify-content-center">
      <%= paginate @articles, theme: 'twitter-bootstrap-4' %>
    </div>

  </div>
</div>