/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


@import '1st_load_framework';
@import 'font-awesome';
@import 'navbar';
@import 'footer';
@import 'articles';
@import 'topic_requests';
@import 'users';

main {
  padding-bottom: 24pt;
}

$background-color: #FAFAFA;

body {
  /* Margin bottom by footer height */
  background-color: $background-color;
  background-image: radial-gradient(circle at 100% 150%, $background-color 24%, white 25%, white 28%, $background-color 29%, $background-color 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, $background-color 24%, white 25%, white 28%, $background-color 29%, $background-color 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, $background-color 11%, $background-color 23%, white 24%, white 30%, $background-color 31%, $background-color 43%, white 44%, white 50%, $background-color 51%, $background-color 63%, white 64%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, $background-color 6%, $background-color 15%, white 16%, white 20%, $background-color 21%, $background-color 30%, white 31%, white 35%, $background-color 36%, $background-color 45%, white 46%, white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, white 5%, $background-color 6%, $background-color 15%, white 16%, white 20%, $background-color 21%, $background-color 30%, white 31%, white 35%, $background-color 36%, $background-color 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size:18px 9px;

}