.article-card {
  margin-bottom: 6px;

  .right-side-medium {
    max-height: 200px;
    overflow: hidden;
  }

  .right-side-large {
    max-height: 300px;
    overflow: hidden;
  }
}

.card-text-final {
  color: blue;
  text-align: center;
}

.article-block:hover {
  background-color: #DDDDDD;
}

.article-image {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}

.article-headline {
  padding-top: 125px;
}

.article-body {
//  float: left;
}

.clickable:hover {
  background-color: #DDDDDD;
}

.destroy-comment-icon {
  margin-left: 12px;
}

.comment-created-container {
  padding-top: 3px;
}

.social-text {
  padding-top: 10px;
}
