.project-name {
  float: left;
  margin-right: 20px;
  margin-top: 8px;
}

.logo-row {
  margin-bottom: 12px;

  .search-box {
    margin-top: 0px;
    padding-top: 20px;
  }

  img {
    height: 75px;
  }
}

.navbar {
  background: $theme-logo-blue;
  border-radius: 3pt;
  font-size: 16pt;

  .nav-link {
    color: $theme-grey;
  }

  .navbar-toggler {
    background-color: transparent;
    border-color: transparent;
    margin-top: 5px;
  }

  .navbar-toggler-icon {
    color: white;
    width: auto;
    height: auto;
  }
}

header {
  a {
    color: black;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: black;
    text-decoration: none;
  }
}
