.project-name {
  float: left;
  margin-right: 20px;
  margin-top: 8px;
}

.search-box {
  float: right;
  margin-bottom: 12pt;
}

.navbar {
  background: $theme-blue;
  border-radius: 3pt;
  font-size: 16pt;

  .nav-link {
    color: $theme-grey;
  }
}
