.topic-request-block-final {
  color: blue;
  text-align: center;
}

.topic-request-block-container:hover {
  background-color: #DDDDDD;
}

.topic-request-block-container {
  margin-bottom: 5px;

  h6 {
    padding-top: 12px;
  }
}

.down-vote-container {
  float: right;
}

.up-vote-container {
  float: right;
  margin-right: 6pt;
}
