<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-gear"></span></a>
  <div class="dropdown-menu">
    <% if user_signed_in? %>
      <%= link_to 'Edit account', edit_user_registration_path, class: 'dropdown-item' %>
      <div class="dropdown-divider"></div>
      <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'dropdown-item' %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: 'dropdown-item' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'dropdown-item' %>
    <% end %>
  </div>
</li>
