<li class="nav-item">
  <%= link_to 'Articles', articles_path, class: "nav-link #{is_active?('articles')}" %>
</li>

<li class="nav-item">
  <%= link_to 'Topics', topic_requests_path, class: "nav-link" %>
</li>

